*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-color: rgb(255, 180, 245);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-sorteio{
  width: 500px;
  height: 500px;
  background-color: rgb(235, 230, 230);
  border-radius: 20px;
  text-align: center;
}

h2{
  margin-top: 20px;
}